html {
	background-color: #DDD;
}

body {
	box-sizing: content-box;
	width: 600px;
	margin: 0 auto;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
	padding: 7px 25px 70px;
	background-color: #FFF;
}

header {
	width: 90%;
	top: 0;
	background-color: #fff;
	height: 40px;
	padding: 10px 5%;
	position: relative;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
	transition: background-color 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Georgia, "Times New Roman", serif;
}

h2,
form {
	text-align: center;
}

form {
	margin-top: 5px;
}

section {
	margin-top: 40px;
}

.input {
	width: 500px;
	margin: 0 auto;
	display: block;
}

.test {
	height: 50px;
}

.code {
	height: 300px;
}

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	left: 0;
	top: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	/* needed for Firefox */
	background-color: rgba(206, 206, 206, 0.7);
}

.modal-inner {
	position: relative;
	width: 15rem;
	height: 10rem;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.08);
	border-radius: 6px;
}

.Modal-closeButton {
	position: absolute;
	top: 8px;
	right: -60px;
	padding: 12px;
	cursor: pointer;
}
.Modal-closeButton {
  right: 1em;
}

.Modal-closeIcon {
  max-width: 12px;
  fill: currentColor;
}

.Modal-buttons {
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 16px;
}

.Modal-buttons .Button {
 height: 32px;
 line-height: 30px;
 width: 72px;
 padding: 0;
}

.Modal-buttons .Button + .Button {
 margin-left: 16px;
}